Mobile/bin-debug/*
Mobile/.actionScriptProperties
Mobile/.flexProperties
Mobile/.project
.DS_Store
Mobile/.DS_Store
Mobile/Export/
Mobile/.actionScriptProperties
Mobile/bin-debug/Remember-app.xml
Mobile/bin-debug/Remember.swf
